body {
    margin: 0;
    font-family: "Roboto", serif;
}

a,
#hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    padding: 30px 180px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    margin:80px 0;
    gap: 50px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.left-text {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px 45px;
    background: #3882f6;
    color: #fff;
    font-weight: bold;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 30px;

}

.second-part .container {
    display: flex;
    gap: 20px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.info img{
    width: 200px;
    height: auto;
}
