body {
    margin: 0;
    font-family: "Roboto", serif;
}

a,
#hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
    color: white;
    padding: 30px 180px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 1000px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-right: auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    margin:80px 0;
    gap: 50px;
    width: 1000px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.left-text {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px 45px;
    background: #3882f6;
    color: #fff;
    font-weight: bold;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 80px 0;
    gap: 30px;

}

.second-part .container {
    display: flex;
    gap: 20px;
}

.info {
    max-width: 200px;
    text-align: center;
}

.info img{
    width: 200px;
    height: auto;
}

.third-part {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    width: 800px;
    padding-top: 100px;
    padding-bottom: 5px;
    margin: 0;
}

#author {
    font-weight: bold;
    font-size: 20px;
    width: 800px;
    text-align: end;
    margin-bottom: 50px;
}

.forth-part {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forth-part .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    width: 800px;
    margin: 70px;
    padding: 40px 100px;
    border-radius: 8px;
}

.cta {
    font-size: large;
    font-weight: bold;
    color: white;
}

#cta-text {
    color: white;
    font-weight: 300;
    flex-wrap: wrap;
}

#signup2 {
    font-family: Roboto, sans-serif;
    border:3px solid #fff;
    border-radius: 8px;
    padding: 8px 30px;
    background: #3882f6;
    color: #fff;
    font-weight: bold;
    margin-left: auto;
}

.footer {
    background-color: #1f2937; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.ftext {
    color: white;
    font-size: medium;
    font-weight: 300;
    padding: 40px 100px;
}


